
body {
	margin: 0em;
	font-family: 'Noto Sans', sans-serif;
}

h1,h2,h3,h4,h5{
	font-family: 'Fjalla One', sans-serif;
}

.cover {
	height: 225px;
	background-color: #A9A9A9;
	background-size: center;
	background-position: center;
}

img {
	margin-right: 20px;
}